@model IEnumerable<flordelizHemilly.Models.Usuario>

@{
    ViewData["Title"] = "Index";


}

<h1>Lista de usuários</h1>

<p>
    <a asp-action="Create">Novo usuário</a>
</p>





<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                Usuários
                <small>Informações dos usuários</small>
            </h3>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Login)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Senha)
                    </th>
                   @*  <th>
                        @Html.DisplayNameFor(model => model.LojasAcesso)
                    </th> *@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Login)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Senha)
                        </td>
                      @*   <td>
                            @Html.DisplayFor(modelItem => item.LojasAcesso)
                        </td> *@
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>






@section Scripts {
    <!-- Script para abrir o modal automaticamente -->
        @if (ViewData["MostrarModal"] != null && (bool)ViewData["MostrarModal"])
    {
        
        <text>
            <script>
                $(document).ready(function () {
                    Swal.fire({
                        title: "Eba",
                        text: "Deu tudo certo",
                        icon: "success",
                        confirmButtonText: "OK!",
                        allowOutsideClick: false,  // Evita que o alerta seja fechado ao clicar fora dele
                        allowEscapeKey: false,     // Evita que o alerta seja fechado ao pressionar a tecla "Escape"
                        allowEnterKey: false       // Evita que o alerta seja fechado ao pressionar a tecla "Enter"
                    }).then(function (result) {
                        // if (result.value) {
                        //     window.location.replace("/Vendas");
                        // }
                    });
                });
            </script>
        </text>
    }
}
