@model IEnumerable<flordelizHemilly.Models.Loja>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista</h1>

<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
               Lojas
                <small>Informações das lojas cadastradas no sistema</small>
            </h3>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NomeFantasia)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeFantasia)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> 
                            @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<p>
    <a asp-action="Create">Criar nova loja</a>
</p>